@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

			html {
				height:100%;
			}
			body {
				padding: 10px 50px;
				/*background-image: radial-gradient(at 50% 30%, white, rgba(164,216,230, 1));*/
				background-repeat: no-repeat;
  			background-attachment: fixed;
        overflow: hidden;
        overflow-y: scroll;
        font-family: "Work Sans", sans-serif;
        font-size: 15px;
        color:#5f849a;
        line-height:1.8;
			}
      body::-webkit-scrollbar {
          display: none;
      }

h1 {
  text-align: center;
  font-family: "Architects Daughter", sans-serif;
  font-size: 30px;
}


			nav {
				max-width:900px;
				margin: 0 auto;
				padding: 30px 0;
				/*mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%); */
			}
			 ul {
				list-style: none;
			   text-align: center;
			   background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
			   box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
			}

			 ul li {
			    display: inline-block;
			}

			 ul li a {
			    padding: 18px;
			    font-family: "Noto Sans KR";
			    text-transform:uppercase;
			    color: rgba(0, 35, 122, 0.5);
			    font-size: 18px;
          line-height:1;
			    text-decoration: none;
			    display: block;
			  	position:relative;
			  	z-index: 1;
			}

			 ul li a,
			 ul li a:after,
			 ul li a:before {
			  	transition: all .3s ease;
			}

			 ul li a:hover {
			  	color: white;
			}

			 ul li a:after {
				display: block;
				position: absolute;
				top: 0;
			  left: 0;
			  bottom: 0;
			  right: 0;
			  margin: auto;
			  width: 100%;
			  height: 1px;
			 	content: '.';
			 	color: transparent;
			  background: #91a8b6;
			  visibility: none;
			  opacity: 0;
			  z-index: -1;
			}
			 ul li a:hover:after {
			  	opacity: 1;
			  	visibility: visible;
			  	height: 100%;
			}
			

			      .row{
        -webkit-column-count:4;
        -moz-column-count:4;
        column-count:4;
        
        -webkit-column-gap:20px;
        -moz-column-gap:20px;
        column-gap:20px;
        padding: 10px 50px;
        padding-bottom:50px;
      }
      @media (max-width:1200px){
        .row{
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
          
        -webkit-column-gap:20px;
        -moz-column-gap:20px;
        column-gap:20px;
      }
      }
      @media (max-width:800px){
        .row{
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
          
        -webkit-column-gap:20px;
        -moz-column-gap:20px;
        column-gap:20px;
      }
      }
      @media (max-width:600px){
        .row{
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
      }  
      }

      .card {
        width: 100%;
        height: auto;
        margin: 1.5% auto;
		    transition: all .3s;
      }

      .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.03, 1.03);
      }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.95);
  padding: 1em;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 60%;
  max-width:100%;
  height: 100%;
  align-content: center;
}

.mySlides {
  display: none;
}

.iso{
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  max-width:100%;
  max-height:100%;
  margin-bottom: 10px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 35px;
  font-weight: bold;
  padding: 16px;
  border-radius: 5px 5px 5px 5px;
  transition: all .6s ease;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 25px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 5px 5px 5px 5px;
  user-select: none;
  -webkit-user-select: none;
}
.prev {
  transform: translate(-50px, 0);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  transform: translate(50px, 0);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}




      img.card {
  		border: 5px solid white;
  		border-radius: 10px;
      }

      img.logo {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    padding-top:50px;
      }

      img.nimi {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
      }
.infolaatikko {
      margin-left: auto;
      margin-right: auto;
      max-width:750px;
      padding-bottom: 60px;
}

.submitted {
  text-align: center;
}


#gform {
  max-width:500px;
  margin-left: auto;
  margin-right: auto;
}

input::placeholder, textarea::placeholder {
  color: #5f849a;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top:15px;
  margin-bottom:15px;
}

input, textarea {
  border: solid 1px #91a8b6;
  color: #5f849a;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

input {
  height:40px;
  padding: 0px 15px 0px 15px;
  margin-bottom:15px;
  width:49%;
}

textarea {
  width:99%;
  min-width: 99%;
  max-width: 99%;
  min-height:50px;
  max-height:200px;
  padding:15px;
  margin-bottom: 15px;
}

.fsubmit {
  width:99%;
  color: #91a8b6;
  outline:none;
  transition: 0.3s;
  background-color: #91a8b6;
  color: white;
}

.fsubmit:hover {
  background-color: white;
  border: solid 1px #91a8b6;
  color:#91a8b6;
  font-size: 110%;
  font-weight: bold;
}

.left {
    width:24%;
    float:left;
}

img.naama {
  width:100%;
  height:auto;
}

.right {
  width:75%;
  float:right;
  padding-bottom: 60px;
}

.lista {
  list-style: none;
}

.aboutList {
  line-height: 1;
  content: '&diams;' ;
}

.aboutList:before {
  content: '\2005\2005\2005''\25CF''\2005\2005\2005';
}
